  /* --------------------------Cart starts -----------------------------*/

  .cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s linear;
    opacity: 0;
    z-index: -1;
  }
  .cart-overlay.show {
    opacity: 1;
    z-index: 1000;
  }
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    max-width: 400px;
    background: var(--neutral-color);
    padding: 3rem 1rem 0 1rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    transition: all 0.3s linear;
    transform: translateX(100%);
    overflow: scroll;
  }
  .show .cart {
    transform: translateX(0);
  }
  .cart-close {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color:#333;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    cursor: pointer;
  }
  .cart-header {
    width: 100%;
    height: 8rem;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--neutral-color);
    position:absolute;
    top:0;
  }
  .cart-text {
    font-family: 'Italianno';
    font-size: 5rem;
    text-align: center;
  }
  .cart-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .cart-total {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 2.3rem;
  }
  .cart-checkout {
    display: block;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .cart-items{
    margin-top:5rem;
  }

  .cart-item {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
  
    column-gap: 1.5rem;
    align-items: center;
  }
  .cart-item-img {
    width: 75px;
    height: 50px;
    object-fit: cover;
  }
  .cart-item-name {
    margin-bottom: 0.15rem;
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  .cart-item-price {
    margin-bottom: 0;
    font-size: 1.3rem;
  }
  .cart-item-remove-btn {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    color:brown;
  }
   .cart-item-amount {
    margin-bottom: 0;
    text-align: center;
    line-height: 1;
    font-size: 1.4rem;
  }
  .cart-item-increase-btn,
  .cart-item-decrease-btn {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.25rem;
  }
  .cart-item-count {
    background-color: var(--neutral-color);
    border-radius:50%;
    position: absolute;
    bottom:1.2rem;
    right:5rem;
    font-size: 1.2rem;
  }
  .cart-item-count:hover {
    color: var(--neutral-color);
    background-color: black;
  }
  .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--secondary-color);
    color: white;
    font-size: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #333;
  }
  button a {
    color:#fff;
  }
  @media (max-width: 450px) {
    .cart{
      height:95vh;
    }
    .cart-item-count{
      right:9rem;
    }
  }